{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block title %}Account | RedStore{% endblock %}

{% block main_content %}
<!-- Account Page -->
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'images/image1.png' %}" width="100%">
            </div>
            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span onclick="login()">Login</span>
                        <span onclick="register()">Register</span>
                        <hr id="Indicator">
                    </div>
                    {% comment %} {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %} {% endcomment %}
                    
                    <!-- Login Form -->
                    <form id="LoginForm" method="post" action="{% url 'login' %}" >
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {{ form.email.errors }}
                        {{ form.username }}
                        {{ form.password }}
                        {% comment %} <input type="email" name="email" placeholder="Email" required>
                        {{ form.password.errors }}
                        <input type="password" name="password" placeholder="Password" required>  {% endcomment %}
                        <button type="submit" class="btn">Login</button>
                        <a href="{% url 'password_reset_request' %}">Forgot Password</a>
                        <!-- Google Sign-in -->
                        <div style="margin-top: 10px;">
                            <p style="cursor: pointer;" onclick="window.location.href='{% provider_login_url 'google' %}'">
                                <i class="fa fa-google" aria-hidden="true" style="color:red;"></i> Sign in with Google
                            </p>
                        </div>
                    </form>
                    
                    <!-- Registration Form -->
                    <form id="RegForm" method="post" action="{% url 'signup' %} " >
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {{ form.name.errors }}
                        <input type="text" name="name" placeholder="Name" required>
                        {{ form.email.errors }}
                        <input type="email" name="email" placeholder="Email" required>
                        {{ form.password1.errors }}
                        <input type="password" name="password1" placeholder="Password" required>
                        {{ form.password2.errors }}
                        <input type="password" name="password2" placeholder="Confirm Password" required>
                        <button type="submit" class="btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<!-- Custom JS for Account Page -->
<script>
    var LoginForm = document.getElementById("LoginForm");
    var RegForm = document.getElementById("RegForm");
    var Indicator = document.getElementById("Indicator");
    function register() {
        RegForm.style.transform = "translateX(0px)";
        LoginForm.style.transform = "translateX(0px)";
        Indicator.style.transform = "translateX(100px)";
    }
    function login() {
        RegForm.style.transform = "translateX(300px)";
        LoginForm.style.transform = "translateX(300px)";
        Indicator.style.transform = "translate(0px)";
    }





    {% comment %} document.addEventListener('DOMContentLoaded', function() {
        {% if messages %}
            {% for message in messages %}
                Swal.fire({
                    title: '{{ message.tags|title }}!',
                    text: "{{ message }}",
                    icon: '{{ message.tags }}',
                    confirmButtonText: 'OK'
                }){% if message.tags == 'success' %}.then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "{% url 'home' %}";
                    }
                }){% endif %};
            {% endfor %}
        {% endif %}
    }); {% endcomment %}
</script>
{% endblock %}
