{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block title %}Account | RedStore{% endblock %}

{% block main_content %}

<style>
    .google-signin {
        margin-top: 20px;
        text-align: center;
        padding: 139px 0; /* Added padding for the google-signin section */
    }

    .google-signin p {
        display: inline-block;
        cursor: pointer;
        margin: 0; /* Adjusted margin to zero for better alignment */
    }

    .google-signin img {
        vertical-align: middle;
        width: 20px; /* Adjust the size as needed */
        margin-right: 8px;
    }

</style>

<!-- Account Page -->
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'images/image1.png' %}" width="100%">
            </div>
            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span onclick="login()">Login</span>
                        <span onclick="register()">Register</span>
                        <hr id="Indicator">
                    </div>
                    
                    <form id="LoginForm" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div>
                            {{ form.username.errors }}
                            <input type="text" name="{{ form.username.name }}" placeholder="Email" required>
                        </div>
                        <div>
                            {{ form.password.errors }}
                            <input type="password" name="{{ form.password.name }}" placeholder="Password" required>
                        </div>
                        <button type="submit" class="btn">Login</button>
                        <a href="{% url 'password_reset_request' %}" class="forgot-password">Forgot Password</a>
                    </form>

                    <!-- Google Sign-in -->
                    <div class="google-signin">
                        <p onclick="window.location.href='{% provider_login_url 'google' %}'">
                            <img src="{% static 'images/googleicon.png' %}" alt="Google logo"> Sign in with Google
                        </p>
                    </div>

                    <!-- Registration Form -->
                    <form id="RegForm" method="post" action="{% url 'signup' %}">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {{ form.name.errors }}
                        <input type="text" name="name" placeholder="Name" required>
                        {{ form.email.errors }}
                        <input type="email" name="email" placeholder="Email" required>
                        {{ form.password1.errors }}
                        <input type="password" name="password1" placeholder="Password" required>
                        {{ form.password2.errors }}
                        <input type="password" name="password2" placeholder="Confirm Password" required>
                        <button type="submit" class="btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<!-- Custom JS for Account Page -->
<script>
    var LoginForm = document.getElementById("LoginForm");
    var RegForm = document.getElementById("RegForm");
    var Indicator = document.getElementById("Indicator");
    function register() {
        RegForm.style.transform = "translateX(0px)";
        LoginForm.style.transform = "translateX(0px)";
        Indicator.style.transform = "translateX(100px)";
    }
    function login() {
        RegForm.style.transform = "translateX(300px)";
        LoginForm.style.transform = "translateX(300px)";
        Indicator.style.transform = "translate(0px)";
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const message = urlParams.get('message');
    const action = urlParams.get('action');

    if (message && action) {
        let title, icon;
        switch (action) {
            case 'login':
                title = 'Logged In Successfully!';
                icon = 'success';
                break;
            case 'signup':
                title = 'Signed Up Successfully!';
                icon = 'success';
                break;
            case 'logout':
                title = 'Logged Out Successfully!';
                icon = 'info';
                break;
        }

        Swal.fire({
            title: title,
            text: message,
            icon: icon,
            confirmButtonText: 'OK'
        });
    }
</script>

{% endblock %}