
{% extends 'base.html' %}
{% block title %}
{{ product.name }} | Smarthub
{% endblock %}
{% block main_content %}
{% load static %}




<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            {% if product.images.all %}
                <img src="{{ product.images.first.image.url }}" width="100%" id="ProductImg">
                <div class="small-img-row">
                    {% for image in product.images.all %}
                        <div class="small-img-col">
                            <img src="{{ image.image.url }}" width="100%" class="small-img">
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <img src="{% static 'images/no-image.jpg' %}" width="100%" id="ProductImg">
            {% endif %}
        </div>
        <div class="col-2">
            <p>
                <a href="{% url 'home' %}">Home</a> / 
                <a href="{% url 'productsapp:product_list' %}">Products</a> / 
                {{ product.category.name }}
            </p>
            <h1>{{ product.name }}</h1>
            <h4>₹{{ product.price }}</h4>
            <select>
                <option>Select Size</option>
                <option>XXL</option>
                <option>XL</option>
                <option>L</option>
                <option>M</option>
                <option>S</option>
            </select>
            <input type="number" value="1">
            <a href="" class="btn">Add To Cart</a>

            <h3>Product Details <i class="fa fa-indent"></i></h3>
            <br>
            <p>{{ product.description }}</p>
        </div>
    </div>
</div>
<!-- title -->
<div class="small-container">
    <div class="row row-2">
        <h2>Related Products</h2>
        <p>View More</p>
    </div>
</div>
<!-- Products -->
<div class="small-container">
    <div class="row">
        {% for related_product in related_products %}
            <div class="col-4">
                <a href="{% url 'productsapp:product_detail' related_product.id %}" class="product-link">
                    <img src="{{ related_product.images.first.image.url }}" alt="{{ related_product.name }}">
                    <h4>{{ related_product.name }}</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>₹{{ related_product.price }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    var ProductImg = document.getElementById("ProductImg");
    var SmallImg = document.getElementsByClassName("small-img");

    for (let i = 0; i < SmallImg.length; i++) {
        SmallImg[i].onclick = function() {
            ProductImg.src = this.src;
        }
    }
</script>
{% endblock %}